/target
**/*.rs.bk
**/*.swp
**/.DS_Store
**/*.old
**/*.log
**/*.tmp
/.idea
/.vscode
.fuzz/
/coverage
**/*.secrets
**/*.key
**/*.pem
**/*.crt
**/*.ratchet
.kats/
/devcontainer/.cache
/.bench/
/dist/
/c_sample/sample
